* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

@-moz-document url-prefix() {
    html {
        scrollbar-width: none;
    }
}

@font-face {
    font-family: 'bauhaus';
    src: url('fonts/bauhaus-93.ttf');
}

.scrolling-wrapper {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-color: #1f1f1f;
    color: #FFFFFF;
    overflow-y: scroll;
    font-family: 'Inter';
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.container_home-section-name {
    margin: 0 auto;
    max-width: 2560px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.home-section__name {
    font-family: 'bauhaus';
    font-weight: 400;
    font-size: 350px;
    font-weight: 400;
    text-align: center;
    line-height: 90%;
    text-rendering: optimizeLegibility;
    /* animation: colorful 10s linear infinite; */
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* @keyframes colorful {
    0%, 40%, 80% {
        text-shadow: 3px 0 0 #8afa95, -3px 0 0 #8afa95, 0 3px 0 #8afa95, 0 -3px 0 #8afa95, 2px 2px #8afa95, -1px -1px 0 #8afa95, 2px -1px 0 #8afa95, -1px 2px 0 #8afa95;
    }

    20%, 60% {
        text-shadow: 3px 0 0 #ffffff, -3px 0 0 #ffffff, 0 3px 0 #ffffff, 0 -3px 0 #ffffff, 2px 2px #ffffff, -1px -1px 0 #ffffff, 2px -1px 0 #ffffff, -1px 2px 0 #ffffff;
    }

    100% {
        text-shadow: 3px 0 0 #ffffff, -3px 0 0 #ffffff, 0 3px 0 #ffffff, 0 -3px 0 #ffffff, 1px 2px #ffffff, -1px -1px 0 #ffffff, 2px -1px 0 #ffffff, -1px 2px 0 #ffffff;
    }
} */

@-webkit-keyframes scroll {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}

@-moz-keyframes scroll {

    0%,
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}

@keyframes scroll {

    0%,
    100% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.home-section__name span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 80s infinite linear;
    -moz-animation: scroll 80s infinite linear;
    animation: scroll 80s infinite linear;
}

.home-section__content {
    display: grid;
    margin: 150px 0;
    margin-right: 20px;
    height: 320px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 40px 1fr;
}

.home-section__greeting,
.home-section__about {
    font-size: 48px;
    font-weight: 500;
}

.home-section__greeting {
    width: 277px;
    margin: 0 0 0 auto;
}

.home-section__line {
    margin: 40px 0 0 auto;
    grid-area: 2/1/2/1;
}

.home-section__about {
    width: 635px;
    padding-left: 35px;
    grid-area: 2/2/3/2;
}

.about-section {
    margin: 0 45px;
}

.about-section>.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about-section__text,
.about-section__photo {
    height: 650px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.about-section__photo {
    max-width: 650px;
    overflow: hidden;
}

.about-section__text-paragraph {
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    margin: 55px 115px 0 25px;
}

.about-section__button-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 26px;
}

.about-section__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.button {
    width: 193px;
    height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 7px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 13px;
    background-color: #1f1f1f;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-arrow {
    padding-left: 5px;
}

.button:hover {
    cursor: pointer;

    .button-link {
        color: #febe98;
    }
}

.do-section > .container {
    font-family: 'bauhaus';
    margin-top: 200px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px repeat(3, 95px);
}

.do-section__name,
.portfolio-section__headline {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 400;
}

.do-section__list-item {
    border-top: 3px solid #ffffff;
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.do-section__line {
    vertical-align: top;
}

.do-section__list-full-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.do-section__naming,
.do-section__number {
    font-size: 32px;
}

.do-section__list-full-info a {
    margin: 0 auto;
}

.do-section__naming:hover{
    cursor: pointer;
}

.do-section__list-full-info:hover {
    .do-section__naming {
        animation: tada;
        animation-duration: 1s;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.portfolio-section {
    color: #000000;
}

.portfolio-section__headline{
    color: #FFFFFF;
    font-family: 'bauhaus';
    margin: 180px 45px 0 45px;
}

.portfolio-section__case {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    margin: 75px 45px 0 45px;
}

.portfolio-section__case:first-child {
    margin-top: 0;
}

.portfolio-section__case-info {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.portfolio-section__case-name,
.footer__headline {
    font-family: 'bauhaus';
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
}

.portfolio-section__case-name {
    max-width: 445px;
    padding-top: 55px;
}

.portfolio-section__case-name-first {
    max-width: 335px;
}

.portfolio-section__case-desc {
    font-size: 15px;
    font-weight: 400;
    max-width: 325px;
    margin-top: auto;
    margin-bottom: 40px;
}

.portfolio-section__button {
    width: 215px;
}

.portfolio-section__two-buttons {
    display: flex;
}

.portfolio-section__two-buttons>.portfolio-section__button:last-child {
    margin-left: 20px;
    width: 198px;
}

.portfolio-section__case-image-wrapper {
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    border: 4px solid #FFFFFF;
}

.portfolio-section__case-image {
    width: clamp(400px, 45vw, 650px);
    height: 100%;
}

footer {
    margin: 170px 0 0;
    font-size: 32px;
    line-height: 160%;
}

.footer__headline,
.footer__back-to-top {
    color: white;
    margin: 0 45px;
}

.footer__info {
    margin: 120px 45px 0;
    display: grid;
    grid-template-columns: 70% 30%;
}

.footer__info-contacts {
    display: flex;
    flex-direction: column;
}

.footer__links:hover {
    color: #febe98;
}

.footer__info-social {
    display: grid;
}

.footer__links-arrow {
    margin-right: 19px;
}

.footer__back-to-top-arrow {
    margin-right: 10px;
}

.footer__back-to-top {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#back-top a:hover span {
    cursor: pointer;
    color: #febe98;
}

[class^="footer__rectangle"] {
    background-color: #c8c8c8;
    width: 100%;
    margin-bottom: 15px;
}

.footer__rectangle1 {
    margin-top: 50px;
    height: 2px;
}

.footer__rectangle2 {
    height: 4px;
}

.footer__rectangle3 {
    height: 6px;
}

.footer__rectangle4 {
    height: 8px;
}

.footer__rectangle5 {
    height: 10px;
}

.footer__rectangle6 {
    height: 12px;
}

.footer__rectangle7 {
    height: 14px;
}

.footer__rectangle8 {
    height: 16px;
}

.footer__rectangle9 {
    height: 18px;
}

.footer__rectangle10 {
    height: 20px;
}

.footer__rectangle11 {
    height: 22px;
}

.footer__rectangle12 {
    height: 24px;
}

.footer__rectangle13 {
    height: 26px;
}

.footer__rectangle14 {
    height: 28px;
}

.footer__rectangle15 {
    height: 30px;
    margin-bottom: 0;
}